/*
 * Author: nishdcoder;
 * Author URI: http://nishdcoder.com;
 *
 * Project: VA Invoice Generator.
 * 
 * Admin Dashboard Styling.
 */

@charset "utf-8";

/* Custom Style */

html {
	padding-top: 32px;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #0074a2;
}
body {
	margin: 0;
	padding: 0;
	color: #444;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	min-width: 600px;
}
input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #333;
	outline: 0;
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
}
input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
	border-color: #5b9dd9;
	-webkit-box-shadow: 0px 0px 2px rgba(30,140,190,0.8);
	box-shadow: 0px 0px 2px rgba(30,140,190,0.8);
}
h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: 600;
}

form h3 {
	color: #222;
	font-size: 1.3em;
	margin: 1em 0;
}

#adminwrap {
	width: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}

#adminmenuwrap, #adminbar {
	color: #fff;
}

#adminmenuback {
	position: absolute;
	top: 0;
	bottom: 0;
}
#adminmenuback, #adminmenuwrap, #adminmenu {
	width: 160px;
	background-color: #363b3f;
}
#admincontent {
	height: 100%;
	padding-left: 20px;
	margin-left: 160px;
}
/*
 * Admin bar links
 */
#adminbar {
	direction: ltr;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 14px/32px;
	height: 32px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 600px;
	z-index: 99999;
	background: #363b3f;
}

#adminbar a {
	text-decoration: none;
	border: none;
	color: #fff;
	font-size: 13px;
}

#adminbar .quicklinks ul {
	text-align: left;
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#adminbar .quicklinks ul li {
	background: 0 0;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0;
	z-index: 99999;
}

#adminbar .quicklinks a {
	height: 32px;
	padding: 0px 10px;
	display: block;
	line-height: 32px;
}
#adminbar .quicklinks li:hover {
	background-color: #26292c;
}
#adminbar .quicklinks li:hover a {
	color: #e14d43;
}

#adminbar .quicklinks a img {
	width: 16px;
	height: 16px;
	padding: 0;
	border: 1px solid #888;
	background: #eee;
	line-height: 24px;
	vertical-align: middle;
	margin: -4px 0 0 6px;
	float: none;
	display: inline;
}
#adminbar .quicklinks .ab-sub-wrapper {
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
	background: #333;
	display: block;
	position: absolute;
	float: none;
	right: 0;
	top: -1000em;
	left: auto;
	min-width: 100%;
}
#adminbar .quicklinks li:hover .ab-sub-wrapper {
	top: initial;
}
#adminbar .ab-sub-wrapper .ab-submenu li { margin-left: 88px; margin-right: 16px; }
#adminbar #admin-bar-user-info .avatar {
	position: absolute;
	left: -72px;
	top: 4px;
	width: 64px;
	height: 64px;
}

#adminbar .ab-sub-wrapper .ab-submenu {
	padding: 10px 0px;
}

#adminbar .ab-sub-wrapper .ab-submenu .ab-item {
	line-height: 26px;
	height: 26px;
	white-space: nowrap;
	min-width: 140px;
	color: #c2c4c5;
}

.ab-item .display-name {
	color: #fff;
}

#adminbar .ab-sub-wrapper .ab-submenu .ab-item:hover, .ab-item:hover .display-name {
	color: #e14d43;
}
#adminbar .ab-sub-wrapper .ab-submenu li:hover {
	background-color: transparent;
}

/* Navigation Side bar */
#adminmenuwrap {
	position: relative;
	float: left;
	z-index: 9990;
}
#adminmenu {
	clear: left;
	margin: 12px 0;
	padding: 0;
	list-style: none;
}
#adminmenu li {
	margin: 0;
	padding: 0;
	cursor: pointer
}
#adminmenu li:hover, #adminmenu li:focus {
	color: #fff;
	background-color: #e14d43;
}
#adminmenu li.menu-top {
	border: none;
	min-height: 34px;
	position: relative;
}
#adminmenu a {
	color: #fff;
	display: block;
	position: relative;
}
#adminmenu a.menu-top {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	padding: 0;
}
#adminmenu div.wp-menu-name {
	padding: 8px 0 8px 12px;
}

#adminmenu .admin-submenu {
	min-width: 160px;
	width: auto;
	list-style: none;
	position: absolute;
	top: -1000em;
	left: 160px;
	overflow: visible;
	word-wrap: break-word;
	padding: 7px 0 8px;
	z-index: 9999;
	background-color: #26292c;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}
#adminmenu li:hover .admin-submenu {
	top: -1px;
}
#adminmenu li:hover a .menu-arrow {
	position: absolute;
	width: 0px;
	height: 0px;
	border-right: 8px solid #363B3F;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	top: 30%;
	right: 0;
}
#adminmenu .admin-submenu li {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#adminmenu .admin-submenu a {
	font-size: 13px;
	line-height: 1.2;
	margin: 0;
	padding: 6px 0;
	padding-right: 16px;
	padding-left: 14px;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
#adminmenu .admin-submenu li:hover {
	background-color: transparent;
}
#adminmenu .admin-submenu li:hover a {
	color: #e14d43;
}

/*If active*/
#adminmenu li.active {
	background-color: #e14d43;
}
#adminmenu li.active .admin-submenu a {
	color: #c2c4c5;
}
#adminmenu li.active .admin-submenu a:hover,
#adminmenu li.active .admin-submenu a.current:hover {
	color: #e14d43;
}
#adminmenu li.active .admin-submenu a.current { color: #fff; font-weight: 600; }
#adminmenu li.active a .menu-arrow { 
	position: absolute;
	width: 0px;
	height: 0px;
	border-right: 8px solid #f1f1f1;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	top: 30%;
	right: 0;
}
#adminmenu li.active .admin-submenu {
	min-width: 160px;
	width: auto;
	list-style: none;
	display: block;
	position: relative;
	top: initial;
	left: initial;
	padding: 7px 0 8px;
	z-index: 9999;
	background-color: #26292c;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

/*
 * Admin Content Body styling
 */
#admincontent, #adminfooter {
	margin-left: 160px;
}

#admincontent {
	height: 100%;
	padding-left: 20px;
}
#adminbody {
	position: relative;
	overflow: hidden;
}
#adminbody-content {
	padding-bottom: 65px;
	float: left;
	width: 100%;
	overflow: visible!important;
}
.wrap { margin: 10px 20px 0 2px; }
.wrap h2 {
	font-size: 23px;
	font-weight: 400;
	padding: 9px 15px 4px 0;
	line-height: 29px;
	margin: 0;
}

.wrap h2 a.add-new {
	top: -3px;
	margin-left: 4px;
}

.subsubsub {
	list-style: none;
	margin: 8px 0 0;
	padding: 0;
	font-size: 13px;
	float: left;
	color: #666;
}
.subsubsub li {
	display: inline-block;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.subsubsub a {
	line-height: 2;
	padding: .2em;
	text-decoration: none;
}
.subsubsub a.current {
	font-weight: 600;
	border: none;
	color: #000;
}
.subsubsub a .count, .subsubsub a.current .count {
	color: #999;
	font-weight: 400;
}

/* Edit style */
#poststuff {
	padding-top: 10px;
	min-width: 763px;
}
#poststuff #est-body.columns-2 {
	margin-right: 300px;
}
#poststuff #est-body {
	padding: 0;
}
#est-body-content {
	width: 100%;
	min-width: 563px;
	float: left;
	margin-bottom: 20px;
}
#titlediv {
	position: relative;
}
#poststuff #titlewrap {
	border: 0;
	padding: 0;
}
#titlediv #title-prompt-text {
	color: #777;
	position: absolute;
	font-size: 1.7em;
	padding: 11px 10px;
}
#titlediv #title {
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: 0;
	margin: 0;
	background-color: #fff;
}
.reader-text {
	width: 0px;
	height: 0px;
	overflow: hidden;
	border: 0;
	clip: rect(0,0,0,0);
}
/* Client details */
.form-table {
	border-collapse: collapse;
	margin-top: .5em;
	width: 100%;
	clear: both;
	table-layout: fixed;
}
.form-table * {
	font-size: 14px;
}
.form-table input {
	margin: 1px;
	padding: 3px 5px;
	font-size: 14px;
	width: 100%;
	max-width: 200px;
}
.form-table th {
	vertical-align: top;
	text-align: left;
	padding: 10px 0px 10px;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;
}
.form-table td textarea#client-address,
.form-table td textarea#proj-desc {
	max-width: 200px;
	width: 100%;
	min-width: 100px;
	min-height: 50px;
	margin: 1px;
}
.form-table td textarea#proj-desc {
	min-height: 100px;
	max-width: 400px;
}

@media(min-width: 320px) {

}

@media(min-width: 780px) {

}

@media(min-width: 920px) {

}

@media(min-width: 1200px) {

}